body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 1280px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 334px;
  height: 79px;
  font-size: 80px;
  line-height: 94px;
  color: #000;
  margin: 63px 0 38px;
}

.colortext {
  color: #4bcaff;
}

.navbar {
  width: 100%;
  height: 72px;
  box-sizing: content-box;
  background: #35444f;
  margin-bottom: 48px;
}

.nav-list {
  display: flex;
  margin-left: 162px;
  margin-right: 133px;
        
}
.nav-list-li {
  border-right: 1px solid #ffffff;
  flex-grow: 1;
}

.nav-list li:first-child {
  border-left: 1px solid #ffffff;
}

.nav-link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
 }

.nav-link:hover {
  background: #222f3a;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.side-bar {
  border: 1px solid #000000;
  width: 344px;
  height: 399px;
}

.side-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.side-list-li {
  height: 20%;
  width: 100%;
}

.side-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding-left: 44px;
  box-sizing: border-box;
}

.side-link:hover {
  background: #dbdbdb;
  color: #000000;
  justify-content: center;
  padding: 0;
}

.main-content {
  width: 885px;
  height: 832px;
  margin-bottom: 51px;
}

.image-holder {
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.image-holder:hover .image {
  transform: scale(1.3);
}

.image {
  width: 320px;
  transition: transform 0.3s;
}

.main-text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.main-content p:first-of-type {
  margin-bottom: 34px;
}

.footer {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
  box-sizing: border-box;
}

.footer-copy {
  color: #010101;
  font-size: 24px;
  line-height: 24px;
  width: 190px;
}

.footer-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 875px;
}

.footer-link:hover {
  color: #3181a6;
  border-bottom: 1px #3181a6 solid;
  padding-bottom: 13px;
}
